@page
@model MScInvoice.UI.Pages.MyAccount.MyUserModel
@{
}

<div>
    
    <form method="post">
        <div class="field">
            <label class="label">User Name</label>

            <div class="control">
                <input class="input" asp-for="@Model.MyUser.UserName" />
            </div>
            <label class="label">Company Name</label>
            <div class="control">
                <input class="input" asp-for="@Model.MyUser.Name" />
            </div>
            <label class="label">Address 1</label>
                <span class="help is-danger" asp-validation-for="@Model.MyUser.Address1"></span>
            <div class="control">
                <input class="input" asp-for="@Model.MyUser.Address1" />
            </div>

            <label class="label">Address 2</label>
            <div class="control">
                <input class="input" asp-for="@Model.MyUser.Address2" />
            </div>
            <label class="label">City</label>
            <div class="control">
                <input class="input" asp-for="@Model.MyUser.City" />
            </div>
            <label class="label">Post Code</label>
            <div class="control">
                <input class="input" asp-for="@Model.MyUser.PostCode" />
            </div>
            <label class="label">Tax Number</label>
            <div class="control">
                <input class="input" asp-for="@Model.MyUser.Number1" />
            </div>
            <hr style="color: gray; background-color: gray" />
            <div class="field">
                <label class="label">Password - leave empty if you don't want update</label>

                <div class="control">
                    <input class="input" asp-for="@Model.MyUser.Password" />
                </div>
            </div>
        </div>
        <button class="button is-success" type="submit">Update</button>
        <a class="button" asp-page="/Invoices/Invoices">Cancel</a>
    </form>
</div>
    <div class="column is-6">
        <vc:cart view="Default"></vc:cart>
    </div>
    <br />
