@page "{id}"
@{
    Layout = null;
}
@model MScInvoice.UI.Pages.Pdf.InvoiceModel
@{
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/pdfInvoice.css" />

   
  
</head>

<body style="font-family: Museo; ">
   

    <div class="invoice-container">
        <div style="text-align: left;">
            <div>
                <div class="left">
                    <h2 class="mylogo">august</h2>
                </div>
                <div class="right">
                    Invoice #: @Model.Invoice.InvoiceNo<br />
                    Created: @Model.Invoice.Date<br />
                    Due: To be mplemented
                </div>
            </div>
            <div class="clear" style="display: block; height: 30px;"></div>
            <div>
                <div class="left">
                    @Model.Invoice.AccountName<br />
                    @Model.Invoice.AccountAddress1<br />
                    @Model.Invoice.AccountAddress2<br />
                    @Model.Invoice.AccountCity<br />
                    @Model.Invoice.AccountPostCode<br />
                    @Model.Invoice.AccountNumber1
                    
                </div>

                <div class="right">
                    @Model.Invoice.CustomerName<br />
                    @Model.Invoice.CustomerAddress1<br />
                    @Model.Invoice.CustomerAddress2<br />
                    @Model.Invoice.CustomerCity<br />
                    @Model.Invoice.CustomerPostCode<br />
                    @Model.Invoice.CustomerNumber1<br />
                </div>
            </div>
        </div>
        <div class="clear" style="display: block; height: 30px;"></div>




        <table>
            <tr class="heading">
                <td>Payment Method</td>
                <td></td>
                <td></td>
                <td>@Model.Invoice.PayMethodName</td>
            </tr>

            <tr class="details">
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            @{
                decimal subTotal = 0;
                decimal subTotalTax = 0;
                var SumOfSections = new List<decimal>();
                var SumOfSectionsTax = new List<decimal>();


                foreach (var s in Model.Invoice.InvoiceSections)
                {

                    subTotal = 0;
                    subTotalTax = 0;

                    <tr class="heading">
                        <td>@s.Name</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="heading">
                        <td>Item Name</td>
                        <td>Price</td>
                        <td>Tax</td>
                        <td>Qty</td>
                        <td>Total</td>
                    </tr>

                    foreach (var i in s.InvoiceItem)
                    {
                        <tr class="item">
                            <td>@i.ItemName</td>
                            <td>@i.ItemPrice</td>
                            <td>@i.ItemTax</td>
                            <td>@i.Quantity</td>
                            <td>@(i.ItemPrice * i.Quantity)</td>
                        </tr>
                        subTotal += (i.ItemPrice * i.Quantity);
                        subTotalTax += ((i.ItemPrice * i.Quantity) * ((100 + i.ItemTax ) / 100));
                    }


                    <tr class="item">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Sub Total:</td>
                        <td>@subTotal</td>
                    </tr>
                    SumOfSections.Add(subTotal);
                    SumOfSectionsTax.Add(subTotalTax);
                }
            }

        <tr class="item">
            <th>Section Name</th>
            <th></th>
            <th>Date</th>
            <th>Sum</th>
            <th>Sum With Tax</th>
        </tr>
            @{
                int index = 0;
                foreach (var s in Model.Invoice.InvoiceSections)
                {
                    <tr class="heading">
                        <td>@s.Name</td>
                        <td></td>
                        <td>@s.Date.ToString("yyyy-MM-dd")</td>
                        <td>@SumOfSections[index]</td>
                        <td>@SumOfSectionsTax[index].ToString("0.00")</td>
                    </tr>
                    index += 1;
                }
            }
            <tr class="total">
                <td></td>
                <td></td>
                <td>Total:</td>
                <td>@SumOfSections.Sum()</td>
                <td>@SumOfSectionsTax.Sum().ToString("0.00")</td>
            </tr>







        </table>
    </div>
</body>
</html>